.row-tong{
    background-color: rgb(15, 100, 100);
}

.label-setting{
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
}

.container{
    width: 100%;
    margin-left: 10%;
}
/* ==========================LANGUAGE========================= */
.language-info{ 
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(96, 70, 70);
}

.language{
    margin: 8px 15px;
}

.drop-language{
    font-size: 15px;
    margin-left: 37%;
    border: 1px solid #333;
    border-radius: 5px;
}

.button-language{
    font-size: 15px;
    margin-left: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

/* ==========================NOTIFICATIONS========================= */

.notifications{
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(96, 70, 70);
}

.notifications-1{
    margin: 8px 15px;
}

.button-notifications{
    margin-left: 300px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
}

.text-notifications{
    display: none;
    margin-left: 39%;
    width: 170px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #d6b1b1;
    border-radius: 20px;
    padding: 5px;
}

/* ==========================INTERFACE========================= */
.interface{
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(96, 70, 70);
}

.interface-1{
    margin: 8px 15px;
}

.button-interface{
    margin-left: 320px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
}

.text-interface{
    display: none;
    margin-left: 39%;
    width: 160px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #d6b1b1;
    border-radius: 20px;
    padding: 5px;
}

/* ==========================SYSTEM-UPDATE========================= */

.update{
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(96, 70, 70);
}

.update-1{
    margin: 8px 15px;
}

.button-update{
    margin-left: 265px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
}

.update-now{
    width: 400px;
    margin-left: 40%;
    border: 0 solid #333;
    border-radius: 10px;
}

/* ==========================log-out========================= */
.logOut{
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(96, 70, 70);
}

.logOut-1{
    margin: 8px 15px;
}

.button-logOut{
    margin-left: 330px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
}

.text-logOut{
    display: none;
    margin-left: 39%;
    width: 160px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #d6b1b1;
    border-radius: 20px;
    padding: 5px;
}

/* ==========================HIEU-UNG-BUTTON==================== */
.btn-style {
    background-color: black; 
    color: white;          
    cursor: pointer;        
    transition: all 0.3s ease; 
    font-weight: bold;
}

/* Hiệu ứng khi hover (rờ vào) */
.btn-style:hover {
    background-color: white; 
    color: black;          
}