.row-2-container{
    width: 100%;
    margin-left: 30%;
    display: flex;
    align-items: baseline;
    background-color: #ffffff;
}
.container {
    position: relative; /* Đặt khung chứa ở chế độ tương đối */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.label-container{
    width: 150px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}


.button-container {
    width: 400px;
    margin: 20px 10px;
    border: 1px solid rgba(0, 0, 0, .85);
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi nền mượt */
}

.btn {
    padding: 8px 16px;
    margin: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease; /* Hiệu ứng bấm */
}

.btn:hover {
    transform: scale(1.1); /* Nút phóng to nhẹ khi hover */
}

/* Style riêng cho các nút */
.btn:first-of-type {
    background-color: red;
    color: white;
}

.btn:nth-of-type(2) {
    background-color: yellow;
    color: white;
}

.btn:last-of-type {
    background-color: green;
    color: white;
}

.notification-box {
    display: none; /* Ban đầu ẩn */
    position: fixed; /* Để hiển thị đè lên phần khác */
    top: 20%; left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Nền mờ */
    color: white;
    border-radius: 10px;
    max-width: 400px;
    z-index: 1000; /* Đảm bảo hiển thị trên các phần khác */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.comment-label {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.btn-close:hover {
    background-color: #c0392b;
}

.btn-comment {
    padding: 8px 16px;
    margin-top: 28px;
    background-color: rgba(79, 89, 102, .08);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-comment:hover {
    background-color: #0056b3;
}
